/* App.css */

body {
  font-family: Arial, sans-serif;
  background-color: #b0d7c8eb;
  margin: 0;
}

.App {
  text-align: center;
  padding: 20px;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.title {
  color: #333;
}

.exercise-container {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.exercise-label {
  margin-right: 10px;
}

.exercise-select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.participant-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.participant-form input[type="text"],
.participant-form input[type="number"],
.participant-form button {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
}

.participant-form button {
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

.participant-form button:hover {
  background-color: #0056b3;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 5px;
  padding: 10px;
  background-color: #f0f0f0;
  border-radius: 5px;
}

/* Leaderboard.css */

.Leaderboard {
  margin-top: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th,
td {
  border-bottom: 1px solid #ddd;
  padding: 8px;
}

th {
  background-color: #4CAF50;
  color: white;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}
